/* Define color variables */
:root {
    --elevare-color: #0026C0; /* Example blue color */
    --elevare-title: #F1B11A;
    --ascentia-color: #630A16; /* Example brown color */
    --ascentia-title: #8C9DB2;
    --title-color: grey;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

.form-container label, .form-container input, .form-container select, .form-container button {
    margin-bottom: 10px;
}

.signature-container {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.logo-container {
    text-align: left;
    margin-bottom: 10px;
}

.logo {
    display: block;
    width: 200px;
    height: auto;
}

.details-container {
    padding-left: 0;
}

.signature-name-title {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.signature-name-title .separator {
    margin: 0 8px;
}

.detail-label {
    text-transform: lowercase;
    font-weight: bold;
}

.elevare-colors .detail-label {
    color: var(--elevare-color);
}

.elevare-colors .signature-name {
    color: var(--elevare-color);
    font-weight: bold;
}

.elevare-colors .signature-title {
    color: var(--elevare-title);
    font-size: 16px;
    font-weight: bold;
}

.ascentia-colors .detail-label {
    color: var(--ascentia-color);
}

.ascentia-colors .signature-name {
    color: var(--ascentia-color);
    font-weight: bold;
}

.ascentia-colors .signature-title {
    color: var(--ascentia-title);
    font-size: 16px;
    font-weight: bold;
}

.d-none {
    display: none;
}

tr {
    padding-top:10px
}